body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

button,
.btn-submit {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

button:hover,
.btn-submit:hover {
  background-color: #45a049;
}

#roles {
  width: 200px;
  height: 30px;
  font-size: 16px;
}

.success-container {
  background-color: green;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.error-container {
  background-color: red;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.dashboard-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.welcome-message {
  font-size: 24px;
  margin-bottom: 20px;
}

.dashboard-content {
  font-size: 18px;
  margin-bottom: 10px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #FF0000;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
}