/* Global styles */
html,
body {
  background-color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

footer {
  margin-top: auto;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

button,
.btn-submit {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

button:hover,
.btn-submit:hover {
  background-color: #45a049;
}

#roles {
  width: 200px;
  height: 30px;
  font-size: 16px;
}

.success-container {
  background-color: green;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.error-container {
  background-color: red;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.dashboard-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.welcome-message {
  font-size: 24px;
  margin-bottom: 20px;
}

.dashboard-content {
  font-size: 18px;
  margin-bottom: 10px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #FF0000;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


* {
  margin: 0px;
  outline: none;
  padding: 0px;
  text-decoration: none;
}

*,
body {
  font-family: 'Roboto', sans-serif !important;
}

.bg-warning-custom {
  background-color: #eb6825;
}

.text-warning {
  color: #eb6825 !important;
}

h1 {
  font-size: 50px !important;
}

h2 {
  font-size: 30px !important;
  font-family: 'Montserrat', sans-serif !important;
  letter-spacing: 2px !important;
  font-weight: 700 !important;
}

h3 {
  font-size: 20px !important;
  font-family: 'Montserrat', sans-serif !important;
  letter-spacing: 1px !important;
  font-weight: 700 !important;
}

h5 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
}

h6 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
}

a {
  text-decoration: none;
  color: #fff !important;
  outline: none;
  transition: all 0.3s ease-in-out !important;
}

a:hover {
  text-decoration: none;
  color: #fff !important;
  outline: none;
  transition: all 0.3s ease-in-out !important;
}

.cursor-pointer {
  cursor: pointer;
}

.home-main {
  background-color: rgb(33, 37, 41) !important;
}

.home-info-sec {
  background-color: whitesmoke !important;
  text-decoration-color: #F26522 !important;

}

/* For Home */
.home-cont1 {
  background: url('./assets/images/main_banner.jpg') no-repeat center / cover;
}

.vh100 {
  height: 100vh !important;
}

.home-cont1-text {
  padding-top: 150px !important;
  padding-bottom: 150px !important;
}

#searchText {
  border: none;
  border-radius: 0;
}

.home-cont1 div h1 {
  letter-spacing: 6px;
}

.round-border {
  border: 2px solid #eb6825;
  border-radius: 100%;
  height: 126px;
  line-height: 116px;
  display: inline-block;
  width: 126px;
}

.res-shadow {
  box-shadow: 0 0 7px rgba(173, 173, 173, 0.32);
}

.res-border {
  border: 1px solid #f2f2f2
}

.rating {
  color: #ffc107 !important;
}